<div>
  <%= render 'transactions_list_navbar' %>
  <%= render 'category_info' %>

  <div>
    <% @entries.each do |entry| %>
      <div class="border my-3 mx-2 p-2">
        <div class='d-flex justify-content-between'>
          <p class='fw-bold'><%= entry.name %></p>
          <p>$<%= entry.amount %></p>
        </div>
        <p class="text-muted">Date: <%= entry.created_at.strftime('%d %b %Y') %></</p>
      </div>
    <% end %>
  </div>

  <div class="fixed-bottom p-3 border background-color-secondary">
    <%= link_to "Add a new transaction", new_category_entry_path(category_id: @category.id), class: 'btn background-color-secondary text-light text-uppercase border w-100 p-3 fw-bold' %>
  </div>
</div>
