<div class="container">
  <div class="row justify-content-center">
    <%= render 'shared/login_navbar' %>
    <div class="col-md-6 p-0">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'needs-validation', novalidate: true, data: { turbo: false } }) do |f| %>
      <div>
          <%= f.email_field :email, class: 'form-control', required: true, placeholder: "Email" %>
        </div>

        <div>
          <%= f.password_field :password, class: 'form-control', required: true, placeholder: "password" %>
        </div>

        <div class="mt-2 text-center">
          <%= link_to "Forgot password?", new_user_password_path, class: 'text-secondary text-decoration-none' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
