<div class="d-flex flex-column mx-2 categories-list">
  <%= form_with(model: @category, url: categories_path, method: :post) do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Food' %>
    </div>
    <div class="form-group">
      <%= form.label :icon_url %>
      <%= form.text_field :icon_url, class: 'form-control', required: true, placeholder: 'Url of the icon' %>
    </div>
    <div class="form-group fixed-bottom p-3 border background-color-secondary">
      <%= form.submit "Save", class: 'btn background-color-secondary text-light text-uppercase border w-100 p-3 fw-bold' %>
    </div>
  <% end %>
</div>
