<%= form_with(model: @transaction, url: transactions_path, method: :post) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true, placeholder: 'Transaction Name' %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: 'form-control', required: true, placeholder: 'Transaction Amount' %>
  </div>

  <div class="form-group">
    <%= form.label :category_ids, "Categories" %>
    <% @categories.each do |category| %>
      <div class="form-check">
        <%= form.check_box :category_ids, { multiple: true }, category.id, nil %>
        <%= form.label category.name, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group fixed-bottom p-3 border background-color-secondary">
    <%= form.submit "Add Transaction", class: 'btn background-color-secondary text-light text-uppercase border w-100 p-3 fw-bold' %>
  </div>
<% end %>
